
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(63, 50, 50, 0.03);
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#heading{
    justify-content: space-around;
    text-align: center;
    text-decoration:solid;
    padding: 10px;
    margin-top: 0%;
    font-weight:bold;

    
    border: 1px solid rgba(red, green, blue, alpha);
    background-color: rgb(43, 125, 136);
}
.menu li{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.04);
        background-color: white;
        margin: 0%;
        padding: 1px 22px;
        font-size: 1rem;
        font-weight: 500;
        color: #585858;
        letter-spacing: 1px;
        text-transform: uppercase;
}


.menu li a:hover{
    background-color: #242424;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(40, 63, 65, 0.1);
    transition: all ease 0.2s
} 
#movies{

border-radius: 4px;
background: #fff;
box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;

 margin-left: 2em; 

}
#movies :hover 
{

    transition: all ease 0.5s;
    box-shadow: 0 10px 20px rgba(26, 23, 23, 0.12), 0 4px 8px rgba(0, 0, 0, .06);
}